services:
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - environment/.env
    depends_on:
      - prefect

  prefect:
    image: prefecthq/prefect:2-latest
    command: prefect server start --host 0.0.0.0
    ports:
      - "4200:4200"

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./src/WebAplication:/usr/share/nginx/html

